APP_BUNDLE_ID = com.it36vn.androidRemoteTV.staging
APP_DISPLAY_NAME = ATV Remote Staging
APP_VERSION = 0.0.0
APP_BUILD = 1
APP_ENV = staging

FIREBASE_GOOGLE_SERVICE_INFO = GoogleService-Info-Staging
FIREBASE_REMOTE_CONFIG_NAMESPACE = staging

ADMOB_APP_ID = ca-app-pub-6285081606219001~9831281223
ADMOB_INTERSTITIAL_ID = ca-app-pub-6285081606219001/9831281223

GOOGLE_DRIVE_CLIENT_ID = 720187644456-8cme1nd9ig60cg7mff78sk534b9tonsi.apps.googleusercontent.com
GOOGLE_DRIVE_SCOPES = drive.file drive

INFOPLIST_KEY_CFBundleDisplayName = $(APP_DISPLAY_NAME)
INFOPLIST_KEY_AppEnvironment = $(APP_ENV)
INFOPLIST_KEY_FirebaseGoogleServiceInfo = $(FIREBASE_GOOGLE_SERVICE_INFO)
INFOPLIST_KEY_FirebaseRemoteConfigNamespace = $(FIREBASE_REMOTE_CONFIG_NAMESPACE)
INFOPLIST_KEY_GADApplicationIdentifier = $(ADMOB_APP_ID)
INFOPLIST_KEY_AdMobAppID = $(ADMOB_APP_ID)
INFOPLIST_KEY_AdMobInterstitialID = $(ADMOB_INTERSTITIAL_ID)
INFOPLIST_KEY_GoogleDriveClientID = $(GOOGLE_DRIVE_CLIENT_ID)
INFOPLIST_KEY_GoogleDriveScopes = $(GOOGLE_DRIVE_SCOPES)
PRODUCT_BUNDLE_IDENTIFIER = $(APP_BUNDLE_ID)
MARKETING_VERSION = $(APP_VERSION)
CURRENT_PROJECT_VERSION = $(APP_BUILD)
INFOPLIST_KEY_NSLocalNetworkUsageDescription = Ứng dụng cần truy cập mạng nội bộ để quét và kết nối Android TV trong cùng Wi-Fi.
INFOPLIST_KEY_NSMicrophoneUsageDescription = Ứng dụng cần dùng microphone để gửi lệnh tìm kiếm bằng giọng nói tới TV.
INFOPLIST_KEY_NSBonjourServices = _googlecast._tcp
